*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000100;
    color: aliceblue;
}
.logo1{
    width: 120px;
    height: 70px;
}
ul{
    display:flex;
    overflow: hidden;
    list-style-type:none;
}
a{
    position: relative;
    display: block;
    transition: .6s;
}
a::after{
    position: absolute;
    content: "  ";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0%;
    transition: transform .6s;
    transform: scaleX(0);
    transform-origin: right;
}
a:hover{
    color:wheat;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
li a{
    text-decoration: none;
    color: aliceblue;
    padding:30px 20px;
    display:flex;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.main{
    color: red;
}
li a:hover{
    color: red;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color:aquamarine;
    margin: 4% 0% 0% 3%;
    word-spacing: 4px;
    cursor: pointer;
    text-align: left;
}
h2{
    margin-left: 17%;
    position:relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    color:aquamarine;
    text-align: left;
}
.sub{
    color: antiquewhite;
    padding:0% 0% 10% 0%;
    margin-top: -7%;
    margin-left: 25%;
    padding-left: 30%;
    font-size:xx-large;
   
}
.shiva{
    position:absolute;
    top: 10%;
    left: 65%;
    width: 400px;
    height: 500px;
}
.details{
    width: 500px;
    text-align: justify;
    position:absolute;
    left: 0%;
    top: 320px;
    padding:6em 0em 0em 3em ;
    height: 250px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 2px;
    cursor: pointer;
}
.edu{
    margin-top: 20%;
    font-size: 30px;
    padding: 2% 0%;
}
.education{
    display:flex;
    flex-direction:row;
}
.edu_container{
    background: linear-gradient(to right,rgb(55, 53, 53),rgb(104, 88, 88));
}
h1{
    margin-left: 2%;
    font-size:50px;
    color:whitesmoke;
    background: transparent;
}
.edu1{
    width: 40%;

}
.margin_btech{
    margin: 3% 0% 0% 5%;
    width: 470px;
}
.margin_inter{
    margin: 4% 0% 0% 10%;
    width: 330px;
}
.margin_10{
    margin: 4% 0% 0% 8%;
    width: 330px;
}
.img_btech{
    width: 50px;
    height: 60px;
}
.btech{
    margin:-13% 0% 0% 13%;
    color:black;
    font-size:35px;
}
.btech_box{
    margin-left: 4%;
}
.img_inter{
    margin-top: -4%;
    width:80px;
    height:90px;
}
.inter{
    margin:-21% 0% 0% 23%;
    color:black;
    font-size:35px;
}
.inter_box{
    margin-left:10%;
}
.img_10{
    width: 50px;
    height: 60px;
}
.ten{
    margin:-17% 0% 0% 20%;
    color:black;
    font-size:35px;
}
.ten_box{
    margin-left:10%;
}
em{
    word-spacing: 10px;
    line-height: 150%;
    color: antiquewhite;
    text-align:center;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.edu2{
    width: 30%;

}
.edu3{
    width: 30%;
    margin-right: 0%;
}
.ex{
    display:inline-block;
    margin: 0%;
    padding: 0%;
}
@media (max-width:1400px) and (min-width:620px){
    .logo{
        display: none;
    }
    .shiva1{
        display: none;
    }
}
@media (max-width:330px) and (min-width:200px)
{
    *{
        max-width: 150%;
        box-sizing: initial;
    }
    
    .homepage{
        box-sizing: border-box;
        display:block;
        width:100%;
        margin-top: 25%;
        height: 600px;
        filter:brightness(20px);
        background-image: url("./shiva1.png");
        background-position:center;
        background-size:contain ;
        background-clip:content-box;
        background-repeat: no-repeat;
        background-position-y:50px;
        background-position-x:90px;
        margin-bottom: 5%;
        content: normal;
    }
    .one{
        position: relative;
        width: 100%;
    }
    .logo{
        position: absolute;
        width: 70px;
        height: 60px;
        float: left;
        margin: 0%;
        top: -3%;
        left: -2.5%;
        display:none;
    }
    .pic{
        width: 50px;
        height: 40px;
        border-radius: 40%;
        position: relative;
        right: 3%;
        top:-80px;
    }
    .name{
        position: relative;
        font-size: 40px;
        top: -50px;
        text-align: left;
        left: 5px;
    }
    svg{
        width: 30px;
    }
    h2{
        background: transparent;
        text-overflow:ellipsis;
        white-space:initial;
        position:relative;
        width:160%;
        top: -50px;
        left: 15px;
        text-align: left;
        font-size: 40px;
    }
    .sub1{
       padding: 10%;
       font-size: 18px;
       position: relative;
       top: -10%;
       padding-left: 70px;
    }
    .details1{
        padding-top: 20%;
        margin-bottom: 20%;
        width: 280px;
        line-height: 20px;
        font-size: 15px;
        margin-top: -13%;
        padding-left: 5%;
        
    }
    .logo1{
        display: none;
    }
    .shiva{
        display: none;
    }
    .shiva1{
        position:absolute;
        top: -92vh;
        left: 22vh;
        width: 200px;
        height: 300px;
    }
    /**nav ul .cls{
        padding: 10px;
        top: -1%;
        width: 60px;
        height: 40px;
        display: block;
        position:absolute;
    }**/
    nav ul{
        display:none;
    }
    @media (max-width:330px) and (min-width:200px){
        .edu{
            margin-top: -55%;
            padding: 20px;
        }
        .edu h1{
            padding-bottom: 1px;
            font-size: 45px;
            text-align: left;
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: #6cf8ff;
        }
        .education{
            display: flex;
            flex-direction:column;
            height: 660px;
        }
        .edu1{
            width: 100%;
            position: relative;
            padding:0%;
        }
        .edu1 h3{
            position: relative;
            top: -10px;
            left: 0px;
            text-align: left;
        }
        .edu1 .img_btech{
            position: relative;
            left: -30px;
            top: 15px;
        }
        .edu1 .margin_btech{
            position: relative;
            width: 300px;
            left: -30px;
            filter: blur(1.5px);
        }
        .edu2{
            width: 100%;
            display:grid;
        }
        .edu2 h3{
            text-align: left;
            position: relative;
            top: -15px;
            left: -22px;
            bottom: -65%;
        }
        .edu2 .img_inter{
            position: relative;
            top: 0px;
            left: -38px;
        }
        .edu2 .margin_inter{
            position: relative;
            width: 300px;
            left: -47px;
            top: -38px;
            filter: blur(1.5px);
        }
        .edu2 em{
            text-align: left;
            position: absolute;
            line-height: 250%;
            margin-top: -7%;
            left: 8%;
            padding-bottom: 0%;
        }
        .edu3{
            width: 100%;
            position: relative;
            top: 100px;
        }
        .edu3 h3{
            text-align:left;
            position: relative;
            top: -30px;
        }
        .edu3 .margin_10{
            position: relative;
            top: -12%;
            left: -13%;
            width: 300px;
            filter: blur(1.5px);
        }
        .edu3 .img_10{
            position: relative;
            top: -5%;
            left: -9%;
        }
        .edu3 em{
            position: relative;
            left: -9%;
            top: -10px;
        }
    }
}